.avatar {
background-image: url(images/wissem.jpg);
background-color: #24292D;
width: 20000px;
margin: 0px auto;
padding: 400px 550px;
background-size: cover;
background-position: center ;
display: block;
}





